body {
    background-image: url(Travel.jpg);
    background-color: #cccccc;
    /* background-repeat: no-repeat;
    background-position: 50px 300px; */
    background-attachment: fixed;
    background-size: cover;
}

h3 {
    text-align: center;
}

.border {
    border: 2px solid grey;
    height: fit-content;
    width: fit-content;
}

.center {
    text-align: left;
    margin: auto;
    padding: 10px;
}

.color {
    background-color: peru;
}

/* class for specific element */
p.red {
    color: red;
}