body {
    background-image: url(Travel.jpg);
    background-size: cover;
}

h3 {
    text-align: center;
}

.border {
    border: 2px solid grey;
    height: fit-content;
    width: fit-content;
}

.center {
    text-align: left;
    margin: auto;
    padding: 10px;
}

.color {
    background-color: peru;
}
